header{
    width: 100%;
}
.header-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link, .header-link a
{
    color:$verdeB;  
    display: flex;
    align-items: center;

}

// Header Icons ----------
.header-icons
{
    display: flex;
    gap: 5px;
}
.header-icons a
{
    
    i
    {
        color: $verdeB;
    }
    
}
.header-icons a:hover
{
    i
    {
        animation: translateY 0.8;
        color: $AzulB;
    }
    
}

@keyframes translateY {
    from
    {
        transform: translateY(0) scale (1);
    }
    to
    {
        transform: translateY(-8px) scale (1.1);
    }
}