header{
    width: 100%;
}




.header-content
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


//header botões

.header-link1, .header-link1 a, .header-link2, .header-link2 a
{
    color:$verdeB;  
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-link1 a:hover, .header-link2 a:hover
{
    animation: translateY 1s infinite alternate;
    color:$AzulB;  
    display: flex;
    align-items: center;
    gap: 30px;
}

//Header Icons ----------
.header-icons
{
    display: flex;
    gap: 5px;
}
.header-icons a
{
    
    i
    {
        color: $verdeB;
    }
    
}
    .header-icons a:hover
    {
        i
        {
            animation: translateY 0.8s infinite alternate;
            color: $AzulB;
        }
        
    }

@keyframes translateY {
    from
    {
        transform: translateY(0) scale(1);
    }
    to
    {
        transform: translateY(-8px) scale(1.1);
    }
}
//-----------------------

//HEADER LOGO

.header-logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: $verdeB;
}


@media screen and (max-width: 768px)
{
    .header-content
    {
        
        justify-content: space-between;
    }
    .header-icons a, .header-link1, .header-link2
    {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    
    
}
